body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}

.wrapper{
  display: flex;
  flex-direction: row;
  width: 501vw;   /*needs to equal the width of the content or all slides combined   */
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
} 

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

/* SLIDES */
.slide{
  background: rgb(9, 9, 9);
  /* background: #28324D; */
  width: 167vw;
  height: 100vh;
  border: 2px solid red;   /*Debugging tool*/
  color: whitesmoke;
  position: relative;
}

.gif{
  width: 45vw;
  opacity: 0.7;
  transition: transform 250ms;
}

.gif:hover{
  transform: translateY(-4px);
  cursor: pointer;
}

/* SLIDE ONE */
.aboutMe{
  position: absolute;
  z-index: 1000;
  width: 70vw;
  top: 10vh;
  left: 80vw;
  opacity: 1;
}

.nameTitleFirstPage{
  margin-left: 6vw;
  position: absolute;
  top: 41vh;
  font-size: 9vw;
  font-family: eloquent-jf-pro;
}
/* SLIDE TWO */
.projectZero{
  position: absolute;
  top: 30vh;
}

.gif0{
}

.projectOne{
  position: absolute;
  top: 22vh;
  left: 50vw;
}

.gif1{
}

.projectTwo{
  position: absolute;
  top: 30vh;
  left: 100vw;
}

.gif2{

}

.projectThree{
  position: absolute;
  top: 22vh;
  left: 150vw;
}

.gif3{

}

.projectFour{
  position: absolute;
  top: 30vh;
  left: 175vw;
}

.gif4{

}

.projectFive{
  position: absolute;
  top: 22vh;
  left: 200vw;
}

.gif5{

}

/* SLIDE THREE */
.projectSix{
  position: absolute;
  top: 30vh;
  /* left: 100vw; */
}

.gif6{

}

.projectSeven{
  position: absolute;
  top: 22vh;
  /* left: 150vw; */
}

.gif7{

}

.contact{
  position: absolute;
  top: 30vh;
}

.gif8{

}

/* PROJECT MODAL PAGE STYLING */

.projectPageWrapper{
  float:left;
  width:100vw;
  display:flex;
}



.leftColumn{
  width:50vw;
  height: 100vh;
  /* background: black; */
}

.rightColumn{
  position: fixed;
  display: flex;
  top: 0;
  width:50vw;
  flex-direction: column;
  margin-left:60vw;
}

.textBoxTitle{
  width:50vw;
  display: flex;
  margin-top: 20vh;
  justify-content: left;
  font-family: eloquent-jf-pro;
  font-size: 6vw;
}

.textBox{
  width:35vw;
  display: flex;
  justify-content: center;
  font-family: demos-next-condensed;
  font-size: 23px;
  margin: 0px 4vw;
}


/* TODO: Make navbarItem font  */
/* NAV */
.navbar{
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 4vh 2vw;
}

.navbarItem{
  margin: 0px 20px;
  color: white;
  text-decoration: none;
  user-select: none;
  font-size: 23px;
  /* text-shadow: 1px 1px 8px #000000; */
  font-family: 'Kanit', sans-serif;
}

.navbarItem:hover{
  margin: 0px 20px;
  color: grey;
  text-decoration: none;
}

@media only screen and (max-width: 900px) {

  .testbox{
    width: 50vw;
    opacity: 0.7;
  }
  .aboutMe{
    position: absolute;
    top: 50vh;
  }
  
  .projectOne{
    position: absolute;
    top:15vh;
    left: 50vw;
  }
  
  .projectTwo{
    position: absolute;
    top: 45vh;
    left: 100vw;
  }
  
  .projectThree{
    position: absolute;
    top: 15vh;
    left: 150vw;
  }
  
  .projectFour{
    position: absolute;
    top: 50vh;
    left: 175vw;
  }
  
  .projectFive{
    position: absolute;
    top: 18vh;
    left: 200vw;
  }
  /* SLIDE THREE */
  .projectSix{
    position: absolute;
    top: 47vh;
    /* left: 100vw; */
  }
  
  .projectSeven{
    position: absolute;
    top: 26vh;
    /* left: 150vw; */
  }
  
  .contact{
    position: absolute;
    top: 50vh;
  }

}