body{
  margin: 0;
  padding: 0;
}

.slide{
  background: rgb(9, 9, 9);
  /* background: #28324D; */
  width: 100vw;
  height: 100vh;
  border: 2px solid red;   /* Debugging tool */
  color: whitesmoke;
}

.modaltest{
  transform: rotate(90deg) translateY(-100vh);
}

.wrapper{
  display: flex;
  flex-direction: row;
  width: 400vw; /* needs to equal the width of the content or all slides combined */
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
} 

.one{
  /* slide one style */
}

.two{
  /* slide two style */
}

.three{
  /* slide three style */
}

.four{
  /* slide four style */
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

/* TODO: Make navbarItem font  */
.navbar{
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1vw 1vw;
}

.navbarItem{
  margin: 0px 20px;
  color: white;
  text-decoration: none;
  user-select: none;
  font-size: 1.6vw;
}

.navbarItem:hover{
  margin: 0px 20px;
  color: grey;
  text-decoration: none;
}

.nameTitleFirstPage{
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9vw;
  font-family: eloquent-jf-pro;
}







/* PROJECT MODAL PAGE STYLING */
.projectPageWrapper{
  float:left;
  width:100vw;
  display:flex;
}



.leftColumn{
  width:50vw;
  height: 100vh;
  background: black;
}

.rightColumn{
  display: flex;
  width:50vw;
  margin-top: 20vh;
  justify-content: center;
  font-family: eloquent-jf-pro;
  font-size: 6vw;
}