@font-face {
  font-weight: 400;
  font-family: 'title-font';
  font-style: normal;
  src: url("longshotfeatures.com/api/fonts/5d4d72e17aefeb00a34776f9/n4/woff?domain=longshotfeatures.com&md5=-Lxw48bJ8Lzw2EQtDHkCDQ") format('woff');
}


body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: black;

}

.wrapper{
  display: flex;
  flex-direction: row;
  width: 379vw;   /*needs to equal the width of the content or all slides combined   */
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
} 

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

/* SLIDES */
.slide{
  background: rgb(9, 9, 9);
  /* background: #28324D; */
  width: 167vw;
  height: 100vh;
  /* border: 2px solid red;   Debugging tool */
  color: whitesmoke;
  position: relative;
}
.slide3{
  background: rgb(9, 9, 9);
  /* background: #28324D; */
  width: 45vw;
  height: 100vh;
  /* border: 2px solid red;   Debugging tool */
  color: whitesmoke;
  position: relative;
}

.selectable{
  transition: transform 250ms;
}

.selectable:hover{
  transform
  : translateY(-10px);
  cursor: pointer;
}

/* SLIDE ONE */
.aboutMe{
  position: absolute;
  z-index: 500;
  width: 26vw;
  bottom: 0px;
  left: 70vw;
  opacity: 1;
}

.nameTitleFirstPage{
  line-height: 1;
  margin-left: 6vw;
  position: absolute;
  top: 23vh;
  font-size: 17vw;
  font-family: eloquent-jf-pro;
}
/* SLIDE TWO */
.projectZero{
  position: absolute;
  top: 2vh;
  left: -76vw;
  z-index: 1000;
}

.gif0{
  width: 17vw;
}

.projectOne{
  position: absolute;
  bottom: -35vh;
  z-index: 10000;
}

.gif1{
  width: 70vw;
}

.projectTwo{
  position: absolute;
  top: -40vh;
}

.gif2{
  width: 90vw;

}

.projectThree{
  position: absolute;
  top: 22vh;
  z-index: 10000;
}

.gif3{
  width: 40vw;

}

.projectFour{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 175vw;
}

.gif4{
  height: 80vh;

}

.projectFive{
  position: absolute;
  bottom: 0vw;
  left: 200vw;
  z-index: 10000;
}

.gif5{
  width: 73vw;

}

/* SLIDE THREE */
.projectSix{
  position: absolute;
  top: 2vh;
}

.gif6{
  width: 40vw;

}

.projectSeven{
  position: absolute;
  bottom: 2vh;
}

.gif7{
  height: 80vh;
}



/* PROJECT MODAL PAGE STYLING */

.projectPageWrapper{
  float:left;
  width:100vw;
  display:flex;
}



.leftColumn{
  width:50vw;
  height: 100vh;
  /* background: black; */
}

.rightColumn{
  position: fixed;
  display: flex;
  top: 0;
  width:50vw;
  flex-direction: column;
  margin-left:60vw;
}

.textBoxTitle{
  width:50vw;
  display: flex;
  margin-top: 20vh;
  justify-content: left;
  font-family: eloquent-jf-pro;
  font-size: 6vw;
}

.textBox{
  width:35vw;
  display: flex;
  justify-content: center;
  font-family: demos-next-condensed;
  font-size: 23px;
  margin: 0px 4vw;
}


/* TODO: Make navbarItem font  */
/* NAV */
.navbar{
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 2vh;
}

.navbarItem{
  margin: 0px 20px;
  color: white;
  text-decoration: none;
  user-select: none;
  font-size: 2.3vh;
  /* text-shadow: 1px 1px 8px #000000; */
  font-family: 'Kanit', sans-serif;
}

.navbarItem:hover{
  margin: 0px 20px;
  color: grey;
  text-decoration: none;
}

#login {
  padding-top: 300px;
  color: #fff;
  height: 100%;
  font-size: 30px;
  width: 100%;
  background: rgba(0, 0, 0, 0.94);
  position: absolute;
  z-index: 10000;
  text-align: center;
  font-family: eloquent-jf-pro;
  visibility: hidden;
}

#login input {
  border: none;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}
#login input:focus-visible{
  outline: none;
}

#login #pswd {
  margin: 30px auto;
  text-align: center;
  width: 300px;
  background: #fff;
}

/* .watermark{
  position: absolute;
  text-decoration: none;
  color: white;
  transform: rotate(-90deg);
  top: 46vh;
  right: -3vw;
  font-size: 35px;
}

.watermark:hover{
  cursor: grab;
  background-color: rgb(174, 174, 174);
  color: black;
} */



@media only screen and (max-width: 900px) {

  .testbox{
    width: 50vw;
    opacity: 0.7;
  }
  .aboutMe{
    position: absolute;
    top: 50vh;
  }
  
  .projectOne{
    position: absolute;
    top:15vh;
    left: 50vw;
  }
  
  .projectTwo{
    position: absolute;
    top: 0vh;
    bottom: 0vh;
    left: 100vw;
  }
  
  .projectThree{
    position: absolute;
    top: 15vh;
    left: 150vw;
  }
  
  .projectFour{
    position: absolute;
    top: 0vh;
    bottom: 0vh;
    left: 175vw;
  }
  
  .projectFive{
    position: absolute;
    bottom: 0vh;
    left: 200vw;
  }
  /* SLIDE THREE */
  .projectSix{
    position: absolute;
    top: 47vh;
    /* left: 100vw; */
  }
  
  .projectSeven{
    position: absolute;
    top: 26vh;
    /* left: 150vw; */
  }
  
  .contact{
    position: absolute;
    top: 50vh;
  }

}